{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>Meetbook</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
		<link rel="stylesheet" href="{% static 'css/index_sidebar.css' %}">
		
		{% block head %}
		{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{% url 'welcome' %}">Meetbook</a>
				</div>
				{% if user.is_authenticated %}
					<div id="navbar" class="navbar-collapse collapse" style="padding-right: 20px">
						<ul class="nav navbar-nav navbar-right">
							<li>
								<form class="navbar-form navbar-right" action="{% url 'logout' %}">
									<strong style="color:gray;">You are logged in as {{ user.username|capfirst }}</strong>
									<button type="submit" class="btn btn-success">Log out</button>
								</form>
							</li>
						</ul>
					</div>
				{% endif %}
			</div>
		</nav>
		<div class="container-fluid" style="min-height: 510px;">
			<div class="row">
				{% if user.is_authenticated %}
					<div class="col-sm-3 col-md-2 sidebar">
						<ul class="nav nav-sidebar">
							<li>
								<div style="padding-left: 20px">
									{% block sidepicture %}
									{% endblock %}
								</div>
								{% if user.first_name and user.last_name %}
									<h3 style="padding-left: 10px;">{{ user.first_name }} {{ user.last_name }}</h3>
								{% endif %}
								<!-- 								{% if user.bio and user.bio %}
									<h3 style="padding-left: 10px;">{{ user.first_name }} {{ user.last_name }}</h3>
								{% endif %} -->
							</li>
							<li><a href="#"><h4>Groups</h4></a></li>
							<li><a href="#"><h4>Events</h4></a></li>
						</ul>
						<ul class="nav nav-sidebar">
						</ul>
					</div>
				{% endif %}
				<div class="col-md-offset-2" style="padding-top: 30px; padding-left: 40px;float: left;">
					{% block content %}
					{% endblock %}
				</div>
				{% if user.is_authenticated %}
					{% block friends %}
					{% endblock %}
					</div><!-- /.blog-sidebar -->
				{% endif %}
				<div>
					{% block nosidebar %}
					{% endblock %}
				</div>
			</div>
		</div>
		<hr>
		<footer style="float: right; padding-right: 40px;">
			<ul style=" list-style-type: none;">
				<li style = "float: left;"><p>&copy; 2017 Meetbook, Inc.</p></li>
			</ul>
		</footer>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
		
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6wYCxO-vnSAE4QMWoDmzbZVN6kxiXDfQ&callback=initMap" async defer>
		</script>
	</body>
</html>