{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>Meetbook</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
		<style type="text/css">
		body, html {
			width:100%;
		}

		#delete_acc:hover {
		color: black;
		text-decoration: none;
		}
		#delete_acc {
		color: #e3e3e3;
				}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{% url 'welcome' %}">Meetbook</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse" style="padding-right: 20px">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<form class="navbar-form navbar-right" action="{% url 'logout' %}">
								<strong style="color:gray;">You are logged in as {{ user.username|capfirst }}</strong>
								<button type="submit" class="btn btn-success">Log out</button>
							</form>
						</li>
					</ul>
					
				</div>
			</div>
		</nav>
		<div class="row">
			<div>
				{% block content %}
					
				{% endblock %}
			</div>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		</div>
		<hr>
		<ul style=" list-style-type: none;">
			<li style = "float: right;"><p>&copy; 2017 Meetbook, Inc.</p></li>
				{% block delete_acc %}
					
				{% endblock %}
		</ul>
	</body>
</html>