{% extends "base_detail.html" %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block content %}
	{% if profile == object.creator or profile in object.members.all %}
		<div class="jumbotron col-md-10 col-md-offset-1" style="padding-top: 20px; margin-top: 20px; float: left;">
			<div class="container">
				<div>
					<div style="float: left; padding-right: 40px; max-width: 800px;">
						<h1 style="text-align: center;">
						{{object|capfirst}}
						{% if object.creator == profile %}
							- Your event
						{% endif %}
						<br>
						</h1>
						
						<p>Date : {{ object.date }}</p>
						
						<p>Creator : {{ object.creator.user_auth.first_name }} {{ object.creator.user_auth.last_name }}</p>
						<p>Location : {{ object.location.city }}</p>
						<p>Cost: {{ object.cost}}</p>
						<hr>
						{% if profile not in object.members.all and time %}
							<form method="post" action="{% url 'event_join' object.slug %}">
								{% csrf_token %}
								<button type="submit" class="btn btn-success">Join Event</button>
							</form>
							{% elif profile == object.creator %}
							<a href="{% url 'event_update' object.slug %}">
								{% csrf_token %}
								<button type="submit" class="btn btn-success">Update Informations</button>
							</a>
							{% elif profile in object.members.all %}
							<p>Enjoy the event</p>
						{% endif %}
						<br style="clear: left;" />
						</div><!-- /.blog-sidebar -->
					</div>
					<div style="float: left; padding-top: 130px;">
						
					</div>
					<div style="margin-top: 20px; float: right; padding: 20px ;padding-right:50px;border-width: 1px;border-style: solid;max-width: 300px;background-color: #f5f5f5;min-width: 250px;">
						<h2>Members</h2>
						{% if object.creator == profile and time %}
							<a href="{% url 'event_members' object.slug %}">
								<button type="submit" class="btn-primary btn-sm">Manage members</button>
							</a>
						{% endif %}
						<hr>
						{% if user.is_authenticated %}
							{% for member in object.members.all %}
								<a href="{% url 'user_detail' member.slug %}">
									{% if member.user_auth.first_name %}
										{{member.user_auth.first_name}} {{member.user_auth.last_name}}
									{% else %}
										{{member}}
									{% endif %}
								</a>
								<br>
							{% endfor %}
						{% endif %}
						</div><!-- /.blog-sidebar -->
					</div>
				</div>
			</div>
		{% else %}
			<div class="jumbotron col-md-10 col-md-offset-1" style="padding-top: 20px; margin-top: 20px; float: left;">
				<div class="container">
					<div>
						<h1 style="text-align: center; height: 360px"><br><br>
						You can't view that site</h1>
					</div></div></div>
				{% endif %}
			{% endblock %}
			{% block footer %}
				{% if profile == object.creator %}
					{% if time %}
						<li style="float: right; padding-right: 10px;"><small><a id="footer" href="{% url 'event_delete' object.slug %}">delete event</a></small></li>
					{% endif %}
				{% else %}
					<li style="float: right; padding-right: 10px;"><small><a id="footer" href="{% url 'event_member_delete' object.slug %}">resign</a></small></li>
				{% endif %}
			{% endblock %}