{% extends "base_detail.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block css %}
	<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
	<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-gmaps-latlon-picker.css' %}"/>
	<script src="{% static 'js/jquery-gmaps-latlon-picker.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/jquery.datetimepicker.css' %}">
{% endblock %}

{% block content %}
	<div class="jumbotron col-md-10 col-md-offset-1" style=" min-height: 450px; padding-top: 20px; margin-top: 20px; float: left;">
		<h1 style="text-align: center">Create Event</h1>
		<div class="container col-md-offset-4 col-md-4">
			{% if messages %}
				<div class="alert alert-danger">
					<strong>{{messages}}</strong>
				</div>
			{% endif %}
			</div>
			<div style="clear: both;" class="col-md-4"></div>

			<div class="col-md-offset-3 col-md-6">
			<form name="create" method="post" >

				{% csrf_token %}
				{{ form|crispy }}

				<label for="date">Date*</label>
				<input id="datetimepicker" type="text" name="date" value="{{date}}" class="form-control">

				<fieldset class="gllpLatlonPicker">
					City:
					<input type="text" class="gllpSearchField" name="location_in">
					<input type="button" class="gllpSearchButton" value="search">
					<br/>
					<div style="margin-top: 3px;" class="gllpMap">Google Maps</div>
					<input type="hidden" class="gllpLatitude" name="latitude" value="{{ profile.location.latitude }}" />
					<input type="hidden" class="gllpLongitude" name="longitude" value="{{ profile.location.longitude }}" />
					<input type="hidden" class="gllpZoom" value="12" />
					<div class="col-md-10">
					<input type="text" class="gllpLocationName form-control" name="location_map" size=42/><br/>
					</div><br>
					
					<button name="Confirm" type="submit" class="gllpUpdateButton btn-lg btn-success"><h4>Create</h4></button>
				</fieldset>
				
			</form>
		</div>
	</div>
{% endblock %}
{% block scripts %}
	<script src="{% static 'js/jquery.datetimepicker.full.js' %}"></script>
	<script>jQuery('#datetimepicker').datetimepicker();</script>
{% endblock %}
