{% extends "basebase.html" %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block sidepicture %}
	{% if user.is_authenticated %}
		{% if profile.picture %}
			<a href="{% url 'user_detail' profile.slug %}"><img src="{{ profile.picture.url }}" width="185" height="185"></a>
		{% else %}
			<a href="{% url 'user_detail' profile.slug %}"><img src="\media\default\defaultuser.png" width="185" height="185"></a>
		{% endif %}
	{% endif %}
{% endblock %}
{% block content %}
	<div class="col-md-12 col-md-offset-2" style="float: left;">
		<h1>Search Group</h1>
		<hr>
		<ul style="padding-left: 0px;list-style-type: none; float: left">
			{% for group in groups_list %}
				<li><h4 style="display: inline"><a href="{% url 'group_detail' group.slug %}">{{group|capfirst}}</a></h4></li>
				<br>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
{% block friends %}
<div style="margin-top: 10px; float: right; padding: 20px ; margin-right: 140px">
	<h1>Groups You Manage</h1>
	<div style="padding-left: 10px;min-height: 150px">
		{% for group in created_groups %}
			<p><h4 style="display: inline"><a href="{% url 'group_detail' group.slug %}">{{group|capfirst}}</a></h4><h6 style="display: inline">
		</h6></p>
	{% endfor %}
	<div style="margin-left: auto;">
		<a href="{% url 'group_create' %}" >
			<button type="submit" class="btn btn-success">Create New</button>
		</a>
	</div>
</div>
<h1>Your Groups</h1>
<div style="padding-left: 10px;">
	{% for group in member_of_group %}
		<p><h4 style="display: inline"><a href="{% url 'group_detail' group.slug %}">{{group|capfirst}}</a></h4><h6 style="display: inline">
	</h6></p>
{% endfor %}
</div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}